/*
 *  Development styling for S1Games
 *  R Roberts
 *  26 Sept 2013
 */

.sf-toolbar, .sf-toolbar *
{
  border:none;
}

html, body, h1, h2, h3, h4, h5, h6, p, ol, ul, li, dl, pre, code, address,
variable, form, fieldset, blockquote, label, img
{
  margin: 0;
  padding: 0;
  font-family: Verdana, Arial, 'Trebuchet MS', sans-serif;
  font-size: small;
  color: black;
}

body
{
  width: 100%;
}

h1 {
  font-weight: bold;
  font-size: 16px;
}

h2{
  vertical-align: middle;
  text-align: center;
  font-weight: bold;
  padding: 10px 0 10px 0;
}

h3, legend
{
  font-weight: bold;
  font-size: 16px !important;
}

h4
{
  color: inherit;
  font-weight: bold;
  font-size: 16px !important;
}

h5
{
  color: inherit;
  font-weight: bold;
  font-size: 12px !important;
}

strong
{
  font-weight: bold;
}

em{
  font-style: italic;
}

hr
{
  margin: 15px auto 15px auto;
}

form
{
  padding: 20px 0 0 0;
}

#layout-header td
{
  vertical-align: middle;
}

#layout-header
,#layout-content
{
  padding: 10px 0;
}

#layout-topmenu
{
  clear: both;
  width: 100%;
}

#layout-userinfo p#user_name
{
  float: right;
  margin-top: -5px;
  padding: 5px 10px 5px 10px;
}

#notes
{
  display: inline-block;
  padding: 15px 10px 5px 10px;
  font-size: inherit;
}

#notes ul li
{
  list-style-type: disc;
  margin-left: 40px;
}

table
{
  font-size: inherit;
  margin-left: auto;
  margin-right: auto;
}

table.data
{
  table-layout: auto;
}

table colgroup col
{
  width: 20%;
}

table th
{
  width: 30%;
  background-color: #0066ff;
  color: white;
  font-weight: bold;
  padding: 1.1em;
  vertical-align: middle;
}

table td
{
  padding: 5px;
  height: 1.1em;
}

table.schedule
{
  padding: 15px 0;
}

.schedule th
,.standings th
,.results th
,.scoring th
{
  padding: 0 8px;
  width: auto;
}

.schedule tr
,.standings tr
,.results tr
{
  height: 2em;
}

.schedule tr:nth-child(odd)
,.standings tr:nth-child(odd)
,.results tr:nth-child(odd)
{
  background: #cce6ff;
}

.schedule td
,.standings td
,.results td
,.scoring td
{
  text-align: center;
  height: 0.9em;
  padding: 0;
  vertical-align: middle;
}

.tbl-title th
{
  background: #004080;
  height: 2em;
}

.tbl-hdr th
{
  background: #0054a8;
  height: 3em;
}

.schedule-search
{
  /*display: none;*/
}

.schedule table tr:nth-child(odd)
{
  background: inherit;
}

input[type="submit"]
{
  padding: 5px 20px;
  font-size: inherit;
}

.account-person-list
{
  width: 99%;
}