{# @CeradTourn/Tourn/UserInfo/TournGuestInfo.html.twig   #}
<style>
  #layout-userinfo
  {
    visibility:hidden;
    height:0;
  }
</style>
<div>
    <p id="user_name"><em>User: Guest</em></p>
</div>
