{# @CeradTourn/Person/Update/AccountCreateHelp.html.twig   #}
<div class="app_help">
<h3>Help</h3>
<ul class="cerad_common_help">
    <li>
        Some pointers to observe when your create an account:
        <ul class="ul_bullets">
            <li>
                You can lookup your 8-digit AYSO Volunteer ID on <a href="http://www.eayso.org/" target="_blank">eAYSO.org</a>.  Click on the "Home" label in the upper-right of eAYSO.org (see the picture below).  Your ID will be shown in the table at the lower left.<br/>
                <a href="http://www.eayso.org/" target="_blank"><img style="width:573;height: 73px;margin: 10px;border: 1px solid;" src="{{ asset('bundles/ceradapp/images/eayso_home.png') }}"></a>
            </li>
            <li>
                Please use an email address that you check regularly.  Ideally, you will  be able to receive mail from this account on your mobile device.
            </li>
            <li>
                Your name is just that. Example: Pelops Hellanodikai
            </li>
            <li>
                Password can be whatever you want.  For the purposes of this account, the easier to remember the better.
            </li>
        </ul>
    </li>
    <li>
        Once you create an account, you will be able to modify your information and availability.
        This is the same system we will be using in the 2014 National Games, so if you have comments or suggestions, please submit them by <a href="http://ayso1ref.com/feedback-zayso" target="_parent">clicking here</a>.  Thank you for your support.
    </li>
</ul>
</div>