{# @CeradTourn/Tourn/Welcome/TournWelcomeIndex.html.twig   #}
{% extends '@CeradTourn/Layout.html.twig' %}

{% block content %}
   
<h3>Welcome to S1Games</h3>

<a href="{{ path('cerad_tourn_schedule_official_list') }}">Referee Schedule</a>
<a href="{{ path('cerad_tourn_results_poolplay')       }}">Pool Play Results</a>

{% endblock %}{# end content block #}
